<div class="grid grid-rows-12">
    <div class="grid grid-cols-5 grid-rows-5 gap-5">
        <div *ngFor="let product of productsList | paginate: {itemsPerPage: 25, currentPage: page}">
            <app-product-item [productData]="product" [inOrder]="true"></app-product-item>
        </div>
    </div>
    <div class="row-span-1 grid grid-cols-12 py-5">
        <button class="col-span-4 bg-lime-300 w-48 h-10 mx-auto" (click)="confirmOrder()">confirmar venta</button>
        <pagination-controls (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next"
            class="mx-auto col-span-4"></pagination-controls>
        <button class="col-span-4 bg-red-500 w-48 h-10 mx-auto text-white" (click)="cancelOrder()">cancelar venta</button>
    </div>
</div>